{% extends "base.html" %}

{% block content %}
  <h1>Living items to Verify</h1>
  {% if my_event_list %}
  <ul>
    {% for object in my_event_list %}
       {% if object.address %}
         {{ object.address }} {{ object.start_date }} - {{ object.end_date }} <a href="{% url 'verify_event' object.id %}" class="btn btn-sm btn-info">Verify</a>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing to verify</p>
  {% endif %}
   <h3>Work Items to verify</h3>
  {% if work_history_list %}
  <ul>
    {% for object in work_history_list %}
      {% if object.work_place %}
        {{ object.work_place }} {{ object.start_date }} - {{ object.end_date }}
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing to verify</p>
  {% endif %}
{% endblock %}