{% extends "base.html" %}

{% block content %}
  <h1>Requests</h1>
  <br><br>
  <h3>Requests for Events</h3><br>
  {% if my_request_list %}
  <ul>
    {% for object in my_request_list %}
      Requester: {{ object.requester }}<br>
      {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }}
      <a href="{% url 'request_info_list' object.id %}" class="btn btn-sm btn-info">View Details</a><br><br>
    {% endfor %}
  </ul>
  {% else %}
    <p>You have not added any requests</p>
  {% endif %}
{% endblock %}