{% extends "base.html" %}

{% block content %}
  <br>
  <h3>Living items that have been shared</h3>
  {% if my_event_list %}
  <ul>
    {% for object in my_event_list %}
       {% if object.address %}
        {{ object.added_by }} {{ object.address }} {{ object.start_date }} - {{ object.end_date }}
          {% if object.is_verified %}
            <span>&#9989;</span>
            {{ object.verified_by }}
          {% endif %}
          <br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing has been shared</p>
  {% endif %}
   <h3>Work Items that have been shared</h3>
  {% if work_history_list %}
  <ul>
    {% for object in work_history_list %}
      {% if object.work_place %}
       {{ object.added_by }} {{ object.work_place }} {{ object.start_date }} - {{ object.end_date }}
          {% if object.is_verified %}
            <span>&#9989;</span>
            {{ object.verified_by }}
          {% endif %}
          <br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing has been shared</p>
  {% endif %}
   <h3>Education Items that have been shared</h3>
  {% if education_history_list %}
  <ul>
    {% for object in education_history_list %}
      {% if object.institution %}
       {{ object.added_by }} {{ object.institution }} {{ object.start_date }} - {{ object.end_date }}
          {% if object.is_verified %}
            <span>&#9989;</span>
            {{ object.verified_by }}
          {% endif %}
          <br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing has been shared</p>
  {% endif %}
  <h3>Documents that have been shared</h3>
  {% if document_list %}
  <ul>
    {% for object in document_list %}
      {% if object.document_type %}
       {{ object.user }} {{ object.document_type }} {{ object.date }}<br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing has been shared</p>
  {% endif %}
{% endblock %}