{% extends "base.html" %}

{% block content %}
  <br>
  <h3>Living items to share</h3>
  {% if my_event_list %}
  <ul>
    {% for object in my_event_list %}
       {% if object.address %}
         {{ object.address }} {{ object.start_date }} - {{ object.end_date }}
         <a href="{% url 'share' object.id %}" class="btn btn-sm btn-info">share</a><br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing to share</p>
  {% endif %}
   <h3>Work Items to share</h3>
  {% if work_history_list %}
  <ul>
    {% for object in work_history_list %}
      {% if object.work_place %}
        {{ object.work_place }} {{ object.start_date }} - {{ object.end_date }}<br>
        <a href="{% url 'share' object.id %}" class="btn btn-sm btn-info">share</a><br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing to share</p>
  {% endif %}
  <h3>Work Items to share</h3>
  {% if work_history_list %}
  <ul>
    {% for object in education_history_list %}
      {% if object.institution %}
        {{ object.institution }} {{ object.start_date }} - {{ object.end_date }}
        <a href="{% url 'share' object.id %}" class="btn btn-sm btn-info">share</a><br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing to share</p>
  {% endif %}
{% endblock %}