<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Verify Cats</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background-color:#FFFFFF;">
  <div class="container-fluid">
    <header class="header-1">
      <strong class="brand-format">Verify</strong>
      {% if user.is_authenticated %}
      <strong class="username-format">User: <span id="username">{{ user.get_username }}</span></strong>
      {% endif %}
    </header>
    <div class="row-format">
      <div class="side-format">
      {% block sidebar %}
        <ul class="sidebar-nav">
          {% if user.is_authenticated %}
          <h2 class="category-style">Options</h2>
            <li class="category-list">
              <a  class="category-item" href="{% url 'hello_world' %}">Home</a>
            </li>
            {% if user.is_requester %}
            <li class="category-list">
              <a class="category-item" href="{% url 'events' %}">All Events</a>
            </li>
             <li class="category-list">
              <a class="category-item" href="{% url 'share_with' %}">Share</a>
            </li>
             <li class="category-list">
              <a class="category-item" href="{% url 'upload' %}">Upload Documents</a>
            </li>
             <li class="category-list">
              <a class="category-item" href="{% url 'doc_share_with' %}">Share or Link Documents</a>
            </li>
             <li class="category-list">
              <a class="category-item" href="{% url 'request_list' %}">Requests</a>
            </li>
            {% endif %}
            {% if user.is_verifier%}
             <li class="category-list">
              <a class="category-item" href="{% url 'requests' %}">All Requests</a>
            </li>
            <li class="category-list">
              <a class="category-item" href="{% url 'review' %}">Shared Events</a>
            </li>
             <li class="category-list">
              <a class="category-item" href="{% url 'request_info' %}">Request Events</a>
            </li>
            {% endif %}
             <li class="category-list">
              <a class="category-item" href="{% url 'profile' %}">Profile</a>
            </li>
             <li class="category-list">
              <a class="category-item" href="{% url 'update_profile' %}">Edit Profile</a>
            </li>
             <li class="category-list">
              <a class="category-item" href="{% url 'actions' %}">History</a>
            </li>
             <li class="category-list">
              <a class="category-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            </li>
          {% else %}
             <li class="category-list">
              <a class="category-item" href="{% url 'login'%}?next={{request.path}}">Login</a>
            </li>
             <li class="category-list">
              <a class="category-item" href="{% url 'signup'%}?next={{request.path}}">Signup</a>
            </li>
          {% endif %}
        </ul>
      {% endblock %}
      </div>
      <div class="main-format">{% block content %}{% endblock %}</div>
    </div>
    <footer class="footer-1">
      <div class="footer-border">
        <li class="footer-link">
           <strong>About Verify</strong>
        </li>
      </div>
    </footer>
  </div>
</body>
</html>