.sidebar-nav {
    margin-top: 20px;
    list-style: none;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -150px;
}

.titlebar-container {
    min-height: 106px;
    padding: 12px 24px;
    background-color: #eee;
}

.titlebar-container .titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1352px;
}

.header-1 {
    margin-right: -20px;
    margin-left: -20px;
    background: #21314d;
    position: relative;
    height: 4.9rem;
    margin-bottom: 3rem;
}

.brand-format {
    width: 139.6px;
    height: 24px;
    margin: 20px 20px;
    float: left;
    display: block;
    text-decoration: none;
    color:#fff;
}

.username-format {
    width: 139.6px;
    height: 24px;
    margin: 20px 10px;
    float: right;
    display: block;
    text-decoration: none;
    color:#fff;
}

.footer-border {
    border-top: 1px solid #e0e0e0;
}

.footer-link {
    padding-right: 36px;
    padding-left: 270px;
    margin-top: 50px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 16px;
    max-width: 1200px;
}

.category-style {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    font-weight: "bold";
    line-height: 1.2;
    padding-left: 27px;
    color: inherit;
}

.category-list {
    flex: 0 0 100%;
    max-width: 100%;
    list-style-type: none;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding: 1rem;
    font-size: 0.4rem;
    color: #3367ab;
    display: block;
    font-family: "Open Sans";
}

.category-item {
    padding: 1rem;
    font-size: 1.2rem;
}

a {
    -moz-osx-font-smoothing: grayscale;
    color: #3367ab;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.main-format{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 100px;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    box-sizing: border-box;
}

.side-format{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 80px;
    box-sizing: border-box;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.row-format {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 150px;
    box-sizing: border-box;
}