{% extends "base.html" %}

{% block content %}
<div class="titlebar-container">
  <div class="titlebar">
    <h1 class="title">Profile</h1>
  </div>
</div>
  {% if my_profile_list %}
  <ul>
      {% for object in my_profile_list %}
      First Name: {{ object.first_name }}<br>
      Last Name: {{ object.last_name }}<br>
      Email: {{ object.email }}<br>
      {% endfor %}
      {% for object in profile_list %}
      {% if object.location %}
      <li>Location: {{ object.location }}</li>
      <li>DOB: {{ object.birth_date }}</li>
      {% endif %}
      {% endfor %}
    <br><li><a href="{% url 'update_profile' %}">Edit Profile</a></li>
  </ul>
  {% endif %}
{% endblock %}