{% extends "base.html" %}

{% block content %}
<div class="titlebar-container">
  <div class="titlebar">
    <h1 class="title">Requests</h1>
  </div>
</div>
  <br>
  <h4>Requests for Events</h4><br>
  {% if my_request_list %}
  <ul>
    {% for object in my_request_list %}
      Requester: {{ object.requester }}<br>
      {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }}
      <a href="{% url 'request_info_list' object.id %}" class="btn btn-sm btn-info">View Details</a><br><br>
    {% endfor %}
  </ul>
  {% else %}
    <p>You have no requests for events at the moment</p>
  {% endif %}
{% endblock %}