{% extends "base.html" %}

{% block content %}
<div class="titlebar-container">
  <div class="titlebar">
    <h1 class="title">Items to be Verified</h1>
  </div>
</div>
  <br>
  <h3>Living items to Verify</h3>
  {% if my_event_list %}
  <ul>
    {% for object in my_event_list %}
       {% if object.address %}
        <a href="{{ object.added_by }}">{{ object.added_by }}</a><br> {{ object.address }} {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }} <a href="{% url 'verify_event' object.id %}" class="btn btn-sm btn-info">Verify</a><br><br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing to verify</p><br>
  {% endif %}
   <h3>Work Items to verify</h3>
  {% if work_history_list %}
  <ul>
    {% for object in work_history_list %}
      {% if object.address %}
        <a href="{{ object.added_by }}">{{ object.added_by }}</a><br> {{ object.address }} {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }} <a href="{% url 'verify_event' object.id %}" class="btn btn-sm btn-info">Verify</a><br><br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing to verify</p><br>
  {% endif %}
  <h3>Education Items to verify</h3>
  {% if education_history_list %}
  <ul>
    {% for object in education_history_list %}
      {% if object.address %}
        <a href="{{ object.added_by }}">{{ object.added_by }}</a><br> {{ object.address }} {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }} <a href="{% url 'verify_event' object.id %}" class="btn btn-sm btn-info">Verify</a><br><br>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nothing to verify</p><br>
  {% endif %}
{% endblock %}

