{% extends "base.html" %}

{% block content %}
<div class="titlebar-container">
  <div class="titlebar">
    <h1 class="title">Items Shared With You</h1>
  </div>
</div>
  <br>
  <h3>Living items that have been shared</h3>
  {% if my_event_list %}
    {% for object in my_event_list %}
       {% if object.address %}
        <a href="{{ object.added_by }}">{{ object.added_by }}</a><br>{{ object.address }} {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }}
        {% if object.linked_docs.document_type %}
         <br>Support Docs:
         {{ object.linked_docs.document_type }}
         <a href="{% url 'view_document' object.linked_docs.id %}" class="btn btn-sm btn-info">view</a>
         {% endif %}
          {% if object.is_verified %}
            <br>Verified by: {{ object.verified_by }}
            <span>&#9989;</span>
          {% endif %}
          <br><br>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Nothing has been shared</p><br>
  {% endif %}
   <h3>Work Items that have been shared</h3>
  {% if work_history_list %}
    {% for object in work_history_list %}
      {% if object.address %}
        <a href="{{ object.added_by }}">{{ object.added_by }}</a><br>{{ object.address }} {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }}
        {% if object.linked_docs.document_type %}
         <br>Support Docs:
         {{ object.linked_docs.document_type }}
         <a href="{% url 'view_document' object.linked_docs.id %}" class="btn btn-sm btn-info">view</a>
         {% endif %}
          {% if object.is_verified %}
           <br>Verified by: {{ object.verified_by }}
            <span>&#9989;</span>
          {% endif %}
          <br><br>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Nothing has been shared</p><br>
  {% endif %}
   <h3>Education Items that have been shared</h3>
  {% if education_history_list %}
    {% for object in education_history_list %}
      {% if object.address %}
        <a href="{{ object.added_by }}">{{ object.added_by }}</a><br>{{ object.address }} {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }}
        {% if object.linked_docs.document_type %}
         <br>Support Docs:
         {{ object.linked_docs.document_type }}
         <a href="{% url 'view_document' object.linked_docs.id %}" class="btn btn-sm btn-info">view</a>
         {% endif %}
          {% if object.is_verified %}
           <br>Verified by: {{ object.verified_by }}
            <span>&#9989;</span>
          {% endif %}
          <br><br>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Nothing has been shared</p><br>
  {% endif %}
  <h3>Documents that have been shared</h3>
  {% if document_list %}
    {% for object in document_list %}
      {% if object.document_type %}
       <a href="{{ object.user }}">{{ object.user }}</a><br>{{ object.document_type }} {{ object.date }}
       <a href="{% url 'view_document' object.id %}" class="btn btn-sm btn-info">view</a><br>
       <br>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Nothing has been shared</p><br>
  {% endif %}
{% endblock %}
