{% extends "base.html" %}

{% block content %}
<div class="titlebar-container">
  <div class="titlebar">
    <h1 class="title">Share List</h1>
  </div>
</div>
  <br>
  <h3>Living items to share</h3><br>
  {% if my_event_list %}
    {% for object in my_event_list %}
       {% if object.address %}
         {{ object.address }} <br>
         {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }}<br>
         <a href="{% url 'share' object.id %}" class="btn btn-sm btn-info">share</a><br><br>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Nothing to share</p>
  {% endif %}
   <h3>Work Items to share</h3><br>
  {% if work_history_list %}
    {% for object in work_history_list %}
      {% if object.address %}
        {{ object.address }} <br>
        {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }}<br>
        <a href="{% url 'share' object.id %}" class="btn btn-sm btn-info">share</a><br><br>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Nothing to share</p><br>
  {% endif %}
  <h3>Education Items to share</h3><br>
  {% if work_history_list %}
    {% for object in education_history_list %}
      {% if object.address %}
        {{ object.address }} <br>
        {{ object.start_date|date:"Y M d" }} - {{ object.end_date|date:"Y M d" }}<br>
        <a href="{% url 'share' object.id %}" class="btn btn-sm btn-info">share</a><br>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Nothing to share</p><br>
  {% endif %}
{% endblock %}